html, body { 
	font: 11pt Calibri,Arial,sans-serif;
	background-color: #e0e0e0;
	margin:0px;
	padding: 0px;
	text-align:center;
}

div {
	margin:0px auto;
}

header {
		width:100%;
		position: relative;
		height: 70px;
		background-color: rgba(0,0,0,0.2);
		text-align:left;
		margin-bottom: 20px;
		-moz-box-shadow: 0px 0px 15px #800;
		-webkit-box-shadow: 0px 0px 15px #800;
		box-shadow: 0px 0px 15px #800;
		z-index:500;
}

header img {
		margin: 10px;
}

header nav {
		display: inline;
		height: 70px;
		text-align: left;
		vertical-align: middle;
		position: absolute;
		width:100%;
}

header nav .nav_menue {
		position:relative;
		top:0px;
		left:0px;
		display:inline-block;
		vertical-align:top;
		color: #fefefe;
		text-shadow: 2px 2px 2px #666;
		text-align:center;
		height:70px;
		overflow:hidden;
}

header nav .nav_menue:hover {
		overflow:visible;
}

header nav .nav_menue .nav_top {
		display:block;
		background-color:#B2B2B2;
		font-size:17pt;
		padding: 21px 15px;
		vertical-align:middle;
}

header nav .nav_menue .nav_top a {
		color: #fefefe;
		text-decoration:none;
}

header nav .nav_menue a.nav_link {
		display:block;
		background-color:#B2B2B2;
		font-size:14pt;
		padding:5px 7px;
		color: #fefefe;
		text-shadow: 2px 2px 2px #666;
		text-decoration:none;
}

header nav .nav_menue a.nav_link:hover {
		-moz-box-shadow: inset 0px 0px 5px #808080;
		-webkit-box-shadow: inset 0px 0px 5px #808080;
		box-shadow: inset 0px 0px 5px #808080;
}

#container {
		position:relative;
		width:100%;
		padding-top: 40px;
}

#container h3 {
		display:block;
		width:95%;
		border-bottom: 1px solid rgba(136, 0, 0, 0.1);
		font-size:14pt;
		margin: 15px auto 20px;
}

#container a:link, #container a:link {
		color: #000;
		text-decoration:none;
}

#container a:active, #container a:hover {
		color: #B00;
		text-decoration:none;
}

#container table {
		width:95%;
		border-collapse:collapse;
		margin: 0px auto;
}

#container table th, #container table td {
		height:30px;
		vertical-align:middle;
		padding:3px;
}

#container table th  {
		color: #800;
}

#container table .dozententh  {
		width:220px;
		text-align:left;
}

#container input {
		max-width:150px;
}

#container textarea {
		max-width:150px;
		resize:vertical;
}
